.container-details {
  width: 1200px;
  height: auto;
  margin: 50px auto;
}

.info-characters {
  overflow: hidden;

  color: #151515;
  background-color: #E7F6E7;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  position: relative;
}

.photo {
  height: 100%;
}
.photo img {
  width: 100%;
  height: 100%;
}

.informations {
  margin: auto 0;
  padding: 12px;
  text-align: center;
}
.informations h1 {
  padding-bottom: 24px;
  color: #F0141E;
  font-weight: 400;
}
.page-back {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: #d8caca;
}
.page-back:hover {
  color: #F0141E;
  transition: font-size 0.4s, color 0.4s;
  font-size: 32px;
}

.comics-and-movies div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.comics-and-movies span {
  display: flex;
  align-self: center;
  align-items: center;
}

/* comics */

.divisor {
  margin: 80px 0;
}

.comics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.comics-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  background-color: #E7F6E7;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  height: 400px;
}
.comics-item:hover {
  transition: background-color 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.comic-poster, .comic-poster img {
  width: 100%;
  height: 100%;
}

.comic-informations {
  padding: 20px;
  text-align: center;
  align-self: center;
}
.comic-informations h2 {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}
.comic-informations p {
  color: black;
  font-weight: 300;
  font-size: 14px;
}

@media (max-width: 1300px) {
  .comics-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .comics-item {
    max-width: 350px;
    height: auto;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
  }
}